:root {
    --negro-fondo: #121212;
    --verde-brillante: #00e676;
    --gris-oscuro: #1e1e1e;
}

body {
    background-color: var(--negro-fondo);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.order-card {
    background: var(--gris-oscuro);
    border-left: 5px solid var(--verde-brillante);
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}

.btn-accept {
    background: var(--verde-brillante);
    color: black;
    width: 100%;
    padding: 15px;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    font-size: 1.1rem;
}

#map {
    height: 300px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}
